In [5]:
#%%writefile lon_lat.py
# Dependencies
import openweathermapy.core as owm
import datetime
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import weather_key

def get_lon_lat(city,country_code,units):
    """
        This function gets weather forecast, lon and lat.
        Input: "(city, country and units as parameters)"
        Output: (forecast_data, lon, lat)
    """
    # Open weather API
    url = "http://api.openweathermap.org/data/2.5/weather?"

    # Build partial query URL
    query_url = f"{url}appid={weather_key}&units={units}&q="

    response = requests.get(query_url + city).json()
    lon = response['coord']['lon']
    lat = response['coord']['lat']
    temp = response['main']['temp']

    # Create settings parameters
    settings = {"units": units, "APPID": weather_key}

    # Make the API call using owm's get_fourcast_hourly method
    forecast = owm.get_forecast_hourly(f"{city}, {country_code}", **settings)

    # Extract the date in text format and the temperature from each record
    # and save them in a list
    summary = ["dt_txt", "main.temp",
               "main.humidity", "wind.speed", "weather", ]
    data = [hourly_forecast(*summary) for hourly_forecast in forecast]
    #data is a list of tuples

    forecast_data = {
        "date_time": [],
        "temp": [],
        "humidity": [],
        "wind.speed": [],
        "description": []
    }
    # format the printing of each record
    for hourly_forecast in data:
        forecast_data["date_time"].append(hourly_forecast[0])
        forecast_data["temp"].append(hourly_forecast[1])
        forecast_data["humidity"].append(hourly_forecast[2])
        forecast_data["wind.speed"].append(hourly_forecast[3])
        forecast_data["description"].append(
            hourly_forecast[4][0]["description"])

    description = forecast_data['description']
    conversion_dict = {}
    i = 0
    unique_categories = list(np.unique(np.array(description)))
    for desc in unique_categories:
        conversion_dict[f"{desc}"] = i
        i += 1

    converted_description = []
    for desc in description:
        converted_description.append(conversion_dict[desc])
    forecast_data["conv_description"] = converted_description
    forecast_data["categories"] = unique_categories

    return (forecast_data, lon, lat)

In [7]:
city = "Raleigh"
country_code = "US"
unit = "metric"
forecast_data,lon,lat = get_lon_lat(city,country_code,unit)
forecast_data

{'categories': ['broken clouds',
  'clear sky',
  'few clouds',
  'light rain',
  'moderate rain',
  'overcast clouds',
  'scattered clouds'],
 'conv_description': [6,
  6,
  2,
  0,
  6,
  1,
  6,
  5,
  0,
  1,
  1,
  1,
  1,
  3,
  3,
  3,
  4,
  3,
  3,
  3,
  3,
  3,
  5,
  5,
  5,
  5,
  5,
  0,
  0,
  0,
  0,
  5,
  5,
  5,
  0,
  1,
  1,
  0,
  0,
  6],
 'date_time': ['2020-10-23 06:00:00',
  '2020-10-23 09:00:00',
  '2020-10-23 12:00:00',
  '2020-10-23 15:00:00',
  '2020-10-23 18:00:00',
  '2020-10-23 21:00:00',
  '2020-10-24 00:00:00',
  '2020-10-24 03:00:00',
  '2020-10-24 06:00:00',
  '2020-10-24 09:00:00',
  '2020-10-24 12:00:00',
  '2020-10-24 15:00:00',
  '2020-10-24 18:00:00',
  '2020-10-24 21:00:00',
  '2020-10-25 00:00:00',
  '2020-10-25 03:00:00',
  '2020-10-25 06:00:00',
  '2020-10-25 09:00:00',
  '2020-10-25 12:00:00',
  '2020-10-25 15:00:00',
  '2020-10-25 18:00:00',
  '2020-10-25 21:00:00',
  '2020-10-26 00:00:00',
  '2020-10-26 03:00:00',
  '2020-10-26 06:00:00',
  '2020-10-26 09:00:00',
  '2020-10-26 12:00:00',
  '2020-10-26 15:00:00',
  '2020-10-26 18:00:00',
  '2020-10-26 21:00:00',
  '2020-10-27 00:00:00',
  '2020-10-27 03:00:00',
  '2020-10-27 06:00:00',
  '2020-10-27 09:00:00',
  '2020-10-27 12:00:00',
  '2020-10-27 15:00:00',
  '2020-10-27 18:00:00',
  '2020-10-27 21:00:00',
  '2020-10-28 00:00:00',
  '2020-10-28 03:00:00'],
 'description': ['scattered clouds',
  'scattered clouds',
  'few clouds',
  'broken clouds',
  'scattered clouds',
  'clear sky',
  'scattered clouds',
  'overcast clouds',
  'broken clouds',
  'clear sky',
  'clear sky',
  'clear sky',
  'clear sky',
  'light rain',
  'light rain',
  'light rain',
  'moderate rain',
  'light rain',
  'light rain',
  'light rain',
  'light rain',
  'light rain',
  'overcast clouds',
  'overcast clouds',
  'overcast clouds',
  'overcast clouds',
  'overcast clouds',
  'broken clouds',
  'broken clouds',
  'broken clouds',
  'broken clouds',
  'overcast clouds',
  'overcast clouds',
  'overcast clouds',
  'broken clouds',
  'clear sky',
  'clear sky',
  'broken clouds',
  'broken clouds',
  'scattered clouds'],
 'humidity': [88,
  89,
  89,
  63,
  44,
  48,
  63,
  68,
  74,
  78,
  83,
  64,
  51,
  62,
  75,
  82,
  90,
  93,
  93,
  88,
  85,
  86,
  87,
  86,
  86,
  88,
  89,
  77,
  70,
  72,
  85,
  88,
  91,
  93,
  93,
  71,
  58,
  64,
  69,
  79],
 'temp': [17.06,
  16.42,
  16.21,
  21.81,
  25.48,
  24.51,
  19.92,
  18.74,
  17.66,
  16.92,
  16.78,
  23.29,
  27.2,
  25.54,
  21.22,
  20.09,
  18.84,
  18.43,
  18.35,
  17.43,
  18.46,
  16.6,
  14.83,
  14,
  14,
  13.77,
  13.78,
  18.97,
  22.37,
  22.47,
  19.59,
  18.8,
  18.19,
  17.51,
  17.15,
  23.08,
  26.7,
  25.91,
  23.54,
  21.12],
 'wind.speed': [1.58,
  0.82,
  1.42,
  1.78,
  1.48,
  1.8,
  1.58,
  1.39,
  1.68,
  1.87,
  2.24,
  2.86,
  2.44,
  1.8,
  0.75,
  1.19,
  1.76,
  2.09,
  3.66,
  3.8,
  4,
  4.17,
  4.02,
  3.45,
  3.04,
  2.58,
  2.29,
  1.82,
  1.95,
  1.91,
  0.99,
  1.04,
  1.64,
  1.66,
  1.62,
  2.27,
  2.4,
  2.11,
  2.03,
  2.59]}

In [2]:
#%%writefile restaurant_data.py
# Dependencies
import openweathermapy.core as owm
import datetime
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import google_key

class str2(str):
    def __repr__(self):
        # Allow str.__repr__() to do the hard work, then
        # remove the outer two characters, single quotes,
        # and replace them with double quotes.
        return ''.join(("'", super().__repr__()[1:-1], "'"))

def get_restaurant_data(lon,lat,pred):
    """
        This function gets weather forecast, lon and lat.
        Input: "(city, country, unit)"
        Output: 2 Dictionaries - The second is a transpose of
        the first - containing:
                    name, address, price_level, 
                    rating, business_status, 
                    open_now, lon, lat,rank
        for each predicted class
    """
    base_labels = [
       'good_for_lunch',
       'good_for_dinner',
       'takes_reservations',
       'outdoor_seating',
       'restaurant_is_expensive',
       'has_alcohol',
       'has_table_service',
       'ambience_is_classy',
       'good_for_kids'
    ]
    
    predictions = list(pred)
    labels = [base_labels[pred] for pred in predictions]
    
    # Preprocess labels
    formatted_labels = [" ".join(label.split("_")) for label in labels]
    labels_dict = {}

    # find the closest restaurant of each type to coordinates
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    google_key = "AIzaSyDeJW7z55_Mj8dcPpo8rIPFiNX7SqOWLS0"
    
    # set up a parameters dictionary
    target_coordinates = f"{lat},{lon}"
    target_radius = 8000
    target_type = "restaurant"

    params = {
        "location": target_coordinates,
        "radius": target_radius,  #prominence is default ranking
        "type": target_type,
        "key": google_key
    }

    # use iterrows to iterate through pandas dataframe
    for label in formatted_labels:
        # get restaurant type from df
        if label == "has table service":
            restr_type = "table"
        elif label == "ambience is classy":
            restr_type = "classy"
        elif label == "has alcohol":
            restr_type = "liquor"
        elif label == "good for lunch":
            restr_type = "lunch"
        elif label == "good for kids":
            restr_type = "kids"
        elif label == "takes reservations":
            restr_type = "reservations"
        elif label == "restaurant is expensive":
            restr_type = "expensive"
        elif label == "outdoor_seating":
            restr_type = "outdoor_seating"
        else:
            restr_type = "dinner"

        # add keyword to params dict
        params['keyword'] = restr_type
        # assemble url and make API request

        response = requests.get(base_url, params=params).json()
        # extract results
        resultss = response['results']

        name = []
        address = []
        price_level = []
        rating = []
        business_status = []
        open_now = []
        lon_list = []
        lat_list = []
        rank = []
        rank_no = 1
        for result in resultss:
            try:
                name.append(str2(result['name']))
                rank.append(str2(rank_no))
                try:
                    address.append(str2(result['vicinity']))
                except:
                    address.append('')
                try:
                    price_level.append(str2(str(result['price_level'])))
                except:
                    price_level.append('')
                try:
                    rating.append(str2(str(result['rating'])))
                except:
                    rating.append('')
                try:
                    business_status.append(str2(result['business_status']))
                except:
                    business_status.append('')
                try:
                    open_now.append(str2(result['opening_hours']['open_now']))
                except:
                    open_now.append('')
                try:
                    lat_list.append(str2(str(result['geometry']['location']['lat'])))
                except:
                    lat_list.append('')
                try:
                    lon_list.append(str2(str(result['geometry']['location']['lng'])))
                except:
                    lon_list.append('')
                rank_no += 1
            except:
                pass
        dict_key = "_".join(label.split(" "))
        labels_dict[dict_key] = {
            'name':name, 
            'address':address, 
            'price_level':price_level, 
            'rating':rating , 
            'business_status':business_status, 
            'open_now':open_now, 
            'lon':lon_list, 
            'lat':lat_list,
            'rank': rank
        }

    # Transform the dictionary
    new_labels_dict = {}
    for outer_key in list(labels_dict.keys()):
        new_dict = pd.DataFrame(labels_dict[outer_key]).T.to_dict()
        new_labels_dict[outer_key] = [new_dict[inner_key] for inner_key in list(new_dict.keys())]
    return (new_labels_dict,labels_dict,labels)

In [3]:
#from lonLat import get_lon_lat
#from restaurantData import get_restaurant_data

city = "Raleigh"
country_code = "US"
unit = "metric"

forecast_data,lon,lat = get_lon_lat(city,country_code,unit) 
pred = [0,3,5,8]
new_labels_dict, labels_dict, labels = get_restaurant_data(lon,lat,pred)

In [4]:
labels

['good_for_lunch', 'outdoor_seating', 'has_alcohol', 'good_for_kids']

In [5]:
base_labels = [
       "good_for_lunch",
       "good_for_dinner",
       "takes_reservations",
       "outdoor_seating",
       "restaurant_is_expensive",
       "has_alcohol",
       "has_table_service",
       "ambience_is_classy",
       "good_for_kids"
    ]

In [6]:
print(base_labels[pred[0]])
pd.DataFrame(new_labels_dict[base_labels[pred[0]]]).head()

good_for_lunch

,name,address,price_level,rating,business_status,open_now,lon,lat,rank
0,chuan cafe,"2004 New Bern Ave, Raleigh",,4.9,OPERATIONAL,True,-78.6071509,35.7790711,1
1,A Place at the Table,"300 W Hargett St #50, Raleigh",1,4.9,OPERATIONAL,False,-78.64421109999999,35.7785423,2
2,Carroll's Kitchen,"19 E Martin St, Raleigh",,4.8,OPERATIONAL,False,-78.638426,35.7771672,3
3,Manhattan Cafe & Catering,"320 S Wilmington St, Raleigh",1,4.6,OPERATIONAL,True,-78.63857329999999,35.7762415,4
4,Angie's Restaurant,"1340 W Garner Rd, Garner",1,4.8,OPERATIONAL,False,-78.623925,35.717223,5

In [7]:
print(base_labels[pred[1]])
pd.DataFrame(new_labels_dict[base_labels[pred[1]]]).head()

outdoor_seating

,name,address,price_level,rating,business_status,open_now,lon,lat,rank
0,Second Empire Restaurant and Tavern,"330 Hillsborough St, Raleigh",3,4.8,OPERATIONAL,False,-78.6446955,35.7809315,1
1,The Capital Grille,"4242 Six Forks Rd, Raleigh",4,4.7,OPERATIONAL,True,-78.6407165,35.8381309,2
2,Poole's,"426 S McDowell St, Raleigh",3,4.5,OPERATIONAL,False,-78.6423039,35.774718,3
3,Caffe Luna,"136 E Hargett St, Raleigh",2,4.6,OPERATIONAL,False,-78.6367278,35.7780833,4
4,Nafkot Ethiopian Restaurant,"2109 Avent Ferry Rd #146, Raleigh",,4.8,OPERATIONAL,False,-78.6753703,35.7793888,5

In [8]:
print(base_labels[pred[2]])
pd.DataFrame(new_labels_dict[base_labels[pred[2]]]).head()

has_alcohol

,name,address,price_level,rating,business_status,open_now,lon,lat,rank
0,State of Beer,"401 Hillsborough St, Raleigh",2,4.8,OPERATIONAL,True,-78.64531699999999,35.7803,1
1,Bottle Revolution,"4025 Lake Boone Trail #105, Raleigh",,4.7,OPERATIONAL,True,-78.6964546,35.8152888,2
2,Krispy Krunchy Chicken,"3405 Poole Rd, Raleigh",1,5,OPERATIONAL,,-78.58031129999999,35.7691667,3

In [9]:
print(base_labels[pred[3]])
pd.DataFrame(new_labels_dict[base_labels[pred[3]]]).head()

good_for_kids

,name,address,price_level,rating,business_status,open_now,lon,lat,rank
0,Chuck E. Cheese,"3501-131 Capital Blvd, Raleigh",2,4,OPERATIONAL,True,-78.5867084,35.8287208,1
1,IHOP,"3009 Capital Blvd, Raleigh",1,3.7,OPERATIONAL,False,-78.5924761,35.8210724,2
2,Moe's Southwest Grill,"506 Daniels St, Raleigh",1,3.3,OPERATIONAL,True,-78.660675,35.791382,3
3,Ruby Tuesday,"4411 New Bern Ave, Raleigh",2,3.8,OPERATIONAL,True,-78.5612074,35.7988548,4
4,TGI Fridays,"4209 Wake Forest Rd, Raleigh",2,3.5,OPERATIONAL,True,-78.6129036,35.8391231,5